<!DOCTYPE html>
<html>
<head>
  <title>Log In</title>
</head>
<body>
  <h2>Log In</h2>
  <%= form_with(model: @user, url: login_path) do |form| %>
    <%= form.label :email %>
    <%= form.text_field :email %>

    <%= form.label :password %>
    <%= form.password_field :password %>

    <%= form.submit "Log In" %>
  <% end %>
</body>
</html>
